https://github.com/vbuterin/pybitcointools/archive/master.zip
https://github.com/adamkrellenstein/pyethereum/archive/develop.zip
https://github.com/adamkrellenstein/rlp/archive/python3.zip
bottle
docopt
leveldb
miniupnpc
pysha3
pytest
repoze.lru
requests
waitress
structlog>=15.0.0
pyethash
